# Fichiers et dossiers à ignorer par Git

# Dépendances
node_modules/

# Fichiers de build
.cache/
.netlify/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'environnement
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers d'éditeur
.idea/
.vscode/
*.swp
*.swo
